# Node dependencies
node_modules/
*/node_modules/

# Yarn 2+ (berry) cache
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build outputs
.next/
out/
build/
dist/
**/.strapi-updater.json
**/.strapi-cloud.json

# Strapi specifics
.cache/
public/uploads/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.DS_Store
.idea/
.vscode/
*.pem

# Cache files
.eslintcache
.cache/

# Coverage and test outputs
coverage/

# Dependency managers
package-lock.json
*/package-lock.json
pnpm-lock.yaml
yarn.lock

# Chrome extension specifics (build artifacts)
extension-chrome/dist/

# Mobile app (si usage de React Native ou Expo)
*.apk
*.ipa
.expo/ 